node_modules
dist
.idea
.vscode
.next
docs/chunk
.DS_Store
coverage
uploads
cypress/videos
cypress/screenshots
cypress/downloads
.nyc_output
reports
cypress-coverage
jest-coverage
packages/shineout/.fatherrc.ts
.mcp.json
