.indicator-item {
  text-align: center;
  margin-right: 10px;
  float: left;
  width: 36px;
  height: 30px;
  font-size: 20px;
  color: #ffffff50;
  cursor: pointer;
}

.indicator-item.active {
  color: #fff;
}

.indicator-progress {
  position: relative;
}

.indicator-progress > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 1000px;
}

.indicator-progress .bg {
  width: 100%;
  background: #ffffff50;
}

.indicator-progress .fg {
  width: 0;
  background: #fff;
}

@keyframes indicator-rise {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

