/**
* cn - 基本用法
*    -- 
* en - Basic
*    -- 
 */
import React from 'react';
import { <%= Component %> } from 'shineout';

export default () => {
  return (
    <div>
      <<%= Component %> />
    </div>
  );
};
