/**
 * cn - 基本用法
 *    --基础 <%= Component %> 用法
 * en - Base
 *    --Base <%= Component %>
 */

import { <%= Component %> } from 'shineout';
export default () => {
  return <div>
    <div>shineout</div>
    <div><<%= Component %> /></div>
  </div>;
};
