name: test

on:
  pull_request:
    branches: ['*']
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.19.1]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: ${{ github.event.release.tag_name}}

      - name: Use Pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.4.0

      - name: dependencies
        run: pnpm install --frozen-lockfile
        env:
          CYPRESS_INSTALL_BINARY: 0

      - name: Component Test
        run: pnpm run test
